*{
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
}

.heading{
    width: 100vw;
    height: 40px;
    text-align: center;
    position: absolute;
}

.sub-heading{
    width: 100vw;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 50px;
}

.main-container-2{
    display: flex;
    width: 900px;
    height: 550px;
    border: 1px solid rgb(213, 192, 192);
    position: absolute;
    top: 120px;
    left: 50px;

}

.left-side-blog{
    width: 900px;
    height: 250px;
    border: 1px solid rgb(239, 230, 230);
    position: absolute;
    top: 300px;

}
.image-1{
    width: 900px;
    height: 550px;
    position: absolute; 
    padding-bottom: 250px;
}

.main-container-3{
    display: flex;
    width: 450px;
    height: 550px;
    border: 1px solid rgb(238, 227, 227);
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1000px;
    margin-top: 120px;

}

.right-side-blog-up{
    display: flex;
    width: 450px;
    height: 380px;
    border: 1px solid rgb(244, 243, 243);
    margin-bottom: 50px;
        
}

.right-side-blog-down {
    display: flex;
    width: 450px;
    height: 220px;
    border: 1px solid rgb(242, 236, 236);
    
}

.image-2{
    width: 450px;
    height: 150px;
}

.button-1{
    width: 70px;
    height: 20px;
    margin-top: 30px;
    margin-right: 20px;
    background-color: rgb(32, 209, 191);
}

.button-2 {
    width: 70px;
    height: 20px;
    margin-top: 30px;
    margin-right: 20px;
    
}

.button-3 {
    width: 70px;
    height: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.button-4 {
    width: 70px;
    height: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.button-5 {
    width: 70px;
    height: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.button-6 {
    width: 70px;
    height: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.bg-color{
    background-color: rgba(25, 148, 120, 0.772);
}
